textarea {
  resize: none;
  overflow: hidden;
  scrollbar-width: none; /* hide scrollbar for Firefox */
  -ms-overflow-style: none; /* hide scrollbar for IE and Edge */
}

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }

  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

/* End Show Alert */

/*! custom */
*:focus-visible {
  outline: none;
}

/* update avatar & cover*/
/* .current-avatar img {
  width: 100%;
  max-width: 140px;
  max-height: 140px;
}
.current-cover img {
  max-height: 490px;
  width: 100%;
} */
.overplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000049;
  opacity: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.overplay:hover {
  opacity: 1;
}
.overplay:hover i {
  opacity: 1 !important;
}
/* end update avatar & cover*/

/* notification */
[notifications] .tyn-appbar-link .count-request {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff0000;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
}

[notifications-messages] .count-messages {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff0000;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
}
/* end notification */

/* box-typing */
.box-typing {
  position: relative;
}

.box-typing .inner-dots {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background: var(--reply-text);
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
      opacity: 0.1;
  }

  20% {
      opacity: 1;
  }

  100% {
      opacity: 0.1;
  }
}

/* End box-typing */
#search-contact-list .modal-body ul li {
  padding: 10px;
  border-radius: 5px;
}

#search-contact-list .modal-body ul li:hover {
  background-color: var(--bg) !important;
}

.tyn-chat-form .preview-images-upload {
  position: relative;
}

.tyn-chat-form .preview-images-upload .label-container {
  display: none;
}

.tyn-chat-form .preview-images-upload .input-container {
  display: none;
}

.tyn-chat-form .preview-images-upload .image-preview {
  height: auto;
  padding: 0;
  border-radius: 0;
  background-image: none !important;
  background-color: var(--bs-gray-400);
}

.tyn-chat-form .preview-images-upload .image-preview-item {
  width: 90px;
  background-size: contain;
}

.tooltip {
  visibility: hidden;
}

.tooltip.shown {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  z-index: 10000;
}

.emoji-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: #0000003f;
  z-index: 9999;
  transform: translateY(0);
  display: none;
}

.emoji-container.shown {
  display: block;
}

.statusOnlineAside.online {
  color: #00c8539c;
}

.statusOnlineAside.offline {
  color: #ff000086;
}
/*! end custom */