mixin formatDateTime(time)
  span #{moment(time).format("DD/MM/YYYY HH:mm:ss")}

mixin formatDate(time)
  span #{moment(time).format("DD/MM/YYYY")}

mixin formatTime(time)
  span #{moment(time).format("HH:mm:ss")}

mixin diffTime(time1, time2)
  span #{moment(time1).diff(moment(time2), 'minutes')}