include ../mixins/alert.pug

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='/images/favicon.ico')
  title #{pageTitle}
  link(rel='stylesheet' href='/assets/css/bundle.css?v131')
  link(rel='stylesheet' href='/assets/css/app.css?v131')
  link(rel="stylesheet", href="/assets/css/custom.css")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
.tyn-root
  +alert-success(5000)
  +alert-error(5000)
  include ../partials/navbar.pug
  
  block main

  //- #tynQuickChat.tyn-quick-chat
  //-   button.tyn-quick-chat-toggle.js-toggle-quick
  //-     svg(viewbox='0 0 43 40' fill='none' xmlns='http://www.w3.org/2000/svg')
  //-       path(d='M37.2654 14.793C37.2654 14.793 45.0771 20.3653 41.9525 29.5311C41.9525 29.5311 41.3796 31.1976 39.0361 34.4264L42.4732 37.9677C42.4732 37.9677 43.3065 39.478 41.5879 39.9987H24.9229C24.9229 39.9987 19.611 40.155 14.8198 36.9782C14.8198 36.9782 12.1638 35.2076 9.76825 31.9787L18.6215 32.0308C18.6215 32.0308 24.298 31.9787 29.7662 28.3333C35.2344 24.6878 37.4217 18.6988 37.2654 14.793Z' fill='#60A5FA')
  //-       path(d='M34.5053 12.814C32.2659 1.04441 19.3506 0.0549276 19.3506 0.0549276C8.31004 -0.674164 3.31055 6.09597 3.31055 6.09597C-4.24076 15.2617 3.6751 23.6983 3.6751 23.6983C3.6751 23.6983 2.99808 24.6357 0.862884 26.5105C-1.27231 28.3854 1.22743 29.3748 1.22743 29.3748H17.3404C23.4543 28.7499 25.9124 27.3959 25.9124 27.3959C36.328 22.0318 34.5053 12.814 34.5053 12.814ZM19.9963 18.7301H9.16412C8.41419 18.7301 7.81009 18.126 7.81009 17.3761C7.81009 16.6261 8.41419 16.022 9.16412 16.022H19.9963C20.7463 16.022 21.3504 16.6261 21.3504 17.3761C21.3504 18.126 20.7358 18.7301 19.9963 18.7301ZM25.3708 13.314H9.12245C8.37253 13.314 7.76843 12.7099 7.76843 11.96C7.76843 11.21 8.37253 10.6059 9.12245 10.6059H25.3708C26.1207 10.6059 26.7248 11.21 26.7248 11.96C26.7248 12.7099 26.1103 13.314 25.3708 13.314Z' fill='#2563EB')
  //-     span.badge.bg-primary.top-0.end-0.position-absolute.rounded-pill 2
  //-   .tyn-quick-chat-box
  //-     .tyn-quick-chat-head
  //-       .tyn-media-group
  //-         .tyn-media.tyn-size-rg
  //-           img(src='/images/avatar/1.jpg' alt='')
  //-         .tyn-media-col
  //-           .tyn-media-row
  //-             h6.name Jasmine Thompson
  //-           .tyn-media-row.has-dot-sap
  //-             span.meta Active
  //-     .tyn-quick-chat-reply.js-scroll-to-end
  //-       #tynQuickReply.tyn-reply.tyn-reply-quick
  //-         .tyn-reply-item.outgoing
  //-           .tyn-reply-group
  //-             .tyn-reply-bubble
  //-               .tyn-reply-text  Do you know which App or feature it will require to set up. 
  //-               // tyn-reply-text
  //-             // .tyn-reply-bubble
  //-             .tyn-reply-bubble
  //-               .tyn-reply-text  These article helps. 
  //-               // tyn-reply-text
  //-             // .tyn-reply-bubble
  //-           // .tyn-reply-group
  //-         // .tyn-reply-item
  //-         .tyn-reply-item.incoming
  //-           .tyn-reply-avatar
  //-             .tyn-media.tyn-size-md.tyn-circle
  //-               img(src='/images/avatar/2.jpg' alt='')
  //-           .tyn-reply-group
  //-             .tyn-reply-bubble
  //-               .tyn-reply-link
  //-                 a.tyn-reply-anchor(href='https://www.envato.com/atomic-power-plant-engine/') https://www.envato.com/atomic-power-plant-engine/
  //-             // .tyn-reply-bubble
  //-             .tyn-reply-bubble
  //-               .tyn-reply-text  I hope these article helps. 
  //-             // .tyn-reply-bubble
  //-           // .tyn-reply-group
  //-         // .tyn-reply-item
  //-         .tyn-reply-separator May 10, 2022, 11:14 AM
  //-         .tyn-reply-item.outgoing
  //-           .tyn-reply-group
  //-             .tyn-reply-bubble
  //-               .tyn-reply-text
  //-                 | Yes, you can reset your password online. Go to the login page, click on &quot;Forgot Password,&quot; and follow the instructions to reset it.
  //-               // tyn-reply-text
  //-             // .tyn-reply-bubble
  //-           // .tyn-reply-group
  //-         // .tyn-reply-item
  //-         .tyn-reply-item.incoming
  //-           .tyn-reply-avatar
  //-             .tyn-media.tyn-size-md.tyn-circle
  //-               img(src='/images/avatar/2.jpg' alt='')
  //-           .tyn-reply-group
  //-             .tyn-reply-bubble
  //-               .tyn-reply-text  How do I reset my password? Can I do it online? 
  //-             // .tyn-reply-bubble
  //-           // .tyn-reply-group
  //-         // .tyn-reply-item
  //-       // .tyn-reply
  //-     .tyn-quick-chat-form
  //-       #tynQuickChatInput.tyn-chat-form-input.bg-light(contenteditable='')
  //-       ul.tyn-list-inline.me-n2.my-1
  //-         li
  //-           button.btn.btn-icon.btn-white.btn-sm.btn-pill
  //-             // send-fill
  //-             svg.bi.bi-send-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
  //-               path(d='M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z')
  //-     button.btn.btn-danger.btn-sm.btn-icon.top-0.end-0.position-absolute.rounded-pill.translate-middle.js-toggle-quick
  //-       // x-lg
  //-       svg.bi.bi-x-lg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
  //-         path(d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z')
#callingScreen.modal.fade(tabindex='-1' data-bs-backdrop='static' data-bs-keyboard='false')
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content.border-0
      .tyn-chat-call
        .tyn-chat-cover
          img(src='/images/cover/1.jpg' alt='')
        .tyn-media-group.tyn-media-vr.tyn-media-center.mt-n4.pb-4
          .tyn-media.tyn-size-xl.tyn-circle.border.border-2.border-white
            img(src='/images/avatar/1.jpg' alt='')
          .tyn-media-col
            .tyn-media-row.has-dot-sap
              span.meta Calling ...
            .tyn-media-row
              h6.name Konstantin Frank
        // .tyn-media-group
        ul.tyn-list-inline.gap.gap-3.m-auto.py-4
          li
            button.btn.btn-light(data-bs-dismiss='modal' data-bs-toggle='modal' data-bs-target='#videoCallingScreen')
              span Switch To
              // camera-video-fill
              svg.bi.bi-camera-video-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z')
        // .tyn-list-inline
        ul.tyn-list-inline.gap.gap-3.mx-auto.py-4
          li
            button.btn.btn-icon.btn-pill.btn-light
              // person-plus-fill
              svg.bi.bi-person-plus-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(d='M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6')
                path(fill-rule='evenodd' d='M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5')
          li
            button.btn.btn-icon.btn-pill.btn-light
              // mic-mute-fill
              svg.bi.bi-mic-mute-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(d='M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4 4 0 0 0 12 8V7a.5.5 0 0 1 1 0zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a5 5 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4m3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3')
                path(d='M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607m-7.84-9.253 12 12 .708-.708-12-12z')
          li
            button.btn.btn-icon.btn-pill.btn-danger(data-bs-dismiss='modal')
              // telephone-x-fill
              svg.bi.bi-telephone-x-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm9.261 1.135a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708')
        // .tyn-list-inline
      // .tyn-chat-call
    // .modal-content
  // .modal-dialog
// .modal
#videoCallingScreen.modal.fade(tabindex='-1' data-bs-backdrop='static' data-bs-keyboard='false')
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content.border-0
      .tyn-chat-call.tyn-chat-call-video
        .tyn-chat-call-stack
          .tyn-chat-call-cover
            img(src='/images/v-cover/1.jpg' alt='')
        // .tyn-chat-call-stack
        .tyn-chat-call-stack.on-dark
          .tyn-media-group.p-4
            .tyn-media-col.align-self-start.pt-3
              .tyn-media-row.has-dot-sap
                span.meta Talking With ...
              .tyn-media-row
                h6.name Konstantin Frank
              .tyn-media-row.has-dot-sap
                span.content 02:09 min
            .tyn-media.tyn-media-1x1_3.tyn-size-3xl.border.border-2.border-dark
              img(src='/images/v-cover/2.jpg' alt='')
          // .tyn-media-group
          ul.tyn-list-inline.gap.gap-3.mx-auto.py-4.justify-content-center.mt-auto
            li
              button.btn.btn-icon.btn-pill.btn-light
                // person-plus-fill
                svg.bi.bi-person-plus-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6')
                  path(fill-rule='evenodd' d='M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5')
            li
              button.btn.btn-icon.btn-pill.btn-light(data-bs-toggle='modal' data-bs-target='#callingScreen')
                // camera-video-fill
                svg.bi.bi-camera-video-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z')
            li
              button.btn.btn-icon.btn-pill.btn-light
                // mic-mute-fill
                svg.bi.bi-mic-mute-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4 4 0 0 0 12 8V7a.5.5 0 0 1 1 0zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a5 5 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4m3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3')
                  path(d='M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607m-7.84-9.253 12 12 .708-.708-12-12z')
            li
              button.btn.btn-icon.btn-pill.btn-danger(data-bs-dismiss='modal')
                // telephone-x-fill
                svg.bi.bi-telephone-x-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm9.261 1.135a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708')
          // .tyn-list-inline
        // .tyn-chat-call-stack
      // .tyn-chat-call
    // .modal-content
  // .modal-dialog
// .modal
#muteOptions.modal.fade(tabindex='-1')
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content.border-0
      .modal-body.p-4
        h4.pb-2 Mute conversation
        ul.tyn-media-list.gap.gap-2
          li
            .form-check
              input#muteFor15min.form-check-input(type='radio' name='muteFor')
              label.form-check-label(for='muteFor15min')  For 15 minutes 
          li
            .form-check
              input#muteFor1Hour.form-check-input(type='radio' name='muteFor' checked='')
              label.form-check-label(for='muteFor1Hour')  For 1 Hours 
          li
            .form-check
              input#muteFor1Days.form-check-input(type='radio' name='muteFor' checked='')
              label.form-check-label(for='muteFor1Days')  For 1 Days 
          li
            .form-check
              input#muteForInfinity.form-check-input(type='radio' name='muteFor' checked='')
              label.form-check-label(for='muteForInfinity')  Until I turn back On 
        // .tyn-media-list
        ul.tyn-list-inline.gap.gap-3.pt-3
          li
            button.btn.btn-md.btn-danger.js-chat-mute Mute
          li
            button.btn.btn-md.btn-light(data-bs-dismiss='modal') Close
        // .tyn-list-inline
      // .modal-body
      button.btn.btn-md.btn-icon.btn-pill.btn-white.shadow.position-absolute.top-0.end-0.mt-n3.me-n3(data-bs-dismiss='modal')
        // x-lg
        svg.bi.bi-x-lg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
          path(d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z')
    // .modal-content
  // .modal-dialog
// .modal
#newChat.modal.fade(tabindex='-1')
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content.border-0
      .modal-body.p-4
        h4.pb-2 Search by Name
        .form-group
          .form-control-wrap
            .form-control-icon.start
              // search
              svg.bi.bi-search(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0')
            input#search-contact.form-control.form-control-solid(type='text' placeholder='Search contact')
        ul.tyn-media-list.gap.gap-3.pt-4
          li
            .tyn-media-group
              .tyn-media
                img(src='/images/avatar/1.jpg' alt='')
              .tyn-media-col
                .tyn-media-row
                  h6.name Jasmine Thompson
                .tyn-media-row
                  p.content @thompson_jasmine
              ul.tyn-media-option-list.me-n1
                li.dropdown
                  button.btn.btn-icon.btn-white.btn-pill.dropdown-toggle(data-bs-toggle='dropdown' data-bs-offset='0,0' data-bs-auto-close='outside')
                    // three-dots
                    svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
                  .dropdown-menu.dropdown-menu-end
                    ul.tyn-list-links
                      li
                        button(data-bs-dismiss='modal')
                          // chat-left-text
                          svg.bi.bi-chat-left-text(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z')
                            path(d='M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5')
                          span Start Texting
                      li
                        a(href='#callingScreen' data-bs-toggle='modal')
                          // telephone
                          svg.bi.bi-telephone(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z')
                          span Audio Call
                      li
                        a(href='#videoCallingScreen' data-bs-toggle='modal')
                          // camera-video
                          svg.bi.bi-camera-video(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z')
                          span Video Call
                    // .tyn-list-links
                  // .dropdown-menu
                // li
              // .tyn-media-option-list
            // .tyn-media-group
          // li
          li
            .tyn-media-group
              .tyn-media
                img(src='/images/avatar/2.jpg' alt='')
              .tyn-media-col
                .tyn-media-row
                  h6.name Konstantin Frank
                .tyn-media-row
                  p.content @konstantin_frank
              ul.tyn-media-option-list.me-n1
                li.dropdown
                  button.btn.btn-icon.btn-white.btn-pill.dropdown-toggle(data-bs-toggle='dropdown' data-bs-offset='0,0' data-bs-auto-close='outside')
                    // three-dots
                    svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
                  .dropdown-menu.dropdown-menu-end
                    ul.tyn-list-links
                      li
                        button(data-bs-dismiss='modal')
                          // chat-left-text
                          svg.bi.bi-chat-left-text(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z')
                            path(d='M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5')
                          span Start Texting
                      li
                        a(href='#callingScreen' data-bs-toggle='modal')
                          // telephone
                          svg.bi.bi-telephone(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z')
                          span Audio Call
                      li
                        a(href='#videoCallingScreen' data-bs-toggle='modal')
                          // camera-video
                          svg.bi.bi-camera-video(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z')
                          span Video Call
                    // .tyn-list-links
                  // .dropdown-menu
                // li
              // .tyn-media-option-list
            // .tyn-media-group
          // li
          li
            .tyn-media-group
              .tyn-media
                img(src='/images/avatar/3.jpg' alt='')
              .tyn-media-col
                .tyn-media-row
                  h6.name Mathias Devos
                .tyn-media-row
                  p.content @mathias_devos
              ul.tyn-media-option-list.me-n1
                li.dropdown
                  button.btn.btn-icon.btn-white.btn-pill.dropdown-toggle(data-bs-toggle='dropdown' data-bs-offset='0,0' data-bs-auto-close='outside')
                    // three-dots
                    svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
                  .dropdown-menu.dropdown-menu-end
                    ul.tyn-list-links
                      li
                        button(data-bs-dismiss='modal')
                          // chat-left-text
                          svg.bi.bi-chat-left-text(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z')
                            path(d='M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5')
                          span Start Texting
                      li
                        a(href='#callingScreen' data-bs-toggle='modal')
                          // telephone
                          svg.bi.bi-telephone(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z')
                          span Audio Call
                      li
                        a(href='#videoCallingScreen' data-bs-toggle='modal')
                          // camera-video
                          svg.bi.bi-camera-video(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z')
                          span Video Call
                    // .tyn-list-links
                  // .dropdown-menu
                // li
              // .tyn-media-option-list
            // .tyn-media-group
          // li
          li
            .tyn-media-group
              .tyn-media
                img(src='/images/avatar/4.jpg' alt='')
              .tyn-media-col
                .tyn-media-row
                  h6.name Marie George
                .tyn-media-row
                  p.content @marie_george
              ul.tyn-media-option-list.me-n1
                li.dropdown
                  button.btn.btn-icon.btn-white.btn-pill.dropdown-toggle(data-bs-toggle='dropdown' data-bs-offset='0,0' data-bs-auto-close='outside')
                    // three-dots
                    svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
                  .dropdown-menu.dropdown-menu-end
                    ul.tyn-list-links
                      li
                        button(data-bs-dismiss='modal')
                          // chat-left-text
                          svg.bi.bi-chat-left-text(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z')
                            path(d='M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5')
                          span Start Texting
                      li
                        a(href='#callingScreen' data-bs-toggle='modal')
                          // telephone
                          svg.bi.bi-telephone(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z')
                          span Audio Call
                      li
                        a(href='#videoCallingScreen' data-bs-toggle='modal')
                          // camera-video
                          svg.bi.bi-camera-video(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z')
                          span Video Call
                    // .tyn-list-links
                  // .dropdown-menu
                // li
              // .tyn-media-option-list
            // .tyn-media-group
          // li
          li
            .tyn-media-group
              .tyn-media
                img(src='/images/avatar/5.jpg' alt='')
              .tyn-media-col
                .tyn-media-row
                  h6.name Phillip Burke
                .tyn-media-row
                  p.content @phillip_burke
              ul.tyn-media-option-list.me-n1
                li.dropdown
                  button.btn.btn-icon.btn-white.btn-pill.dropdown-toggle(data-bs-toggle='dropdown' data-bs-offset='0,0' data-bs-auto-close='outside')
                    // three-dots
                    svg.bi.bi-three-dots(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                      path(d='M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3')
                  .dropdown-menu.dropdown-menu-end
                    ul.tyn-list-links
                      li
                        button(data-bs-dismiss='modal')
                          // chat-left-text
                          svg.bi.bi-chat-left-text(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z')
                            path(d='M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5')
                          span Start Texting
                      li
                        a(href='#callingScreen' data-bs-toggle='modal')
                          // telephone
                          svg.bi.bi-telephone(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z')
                          span Audio Call
                      li
                        a(href='#videoCallingScreen' data-bs-toggle='modal')
                          // camera-video
                          svg.bi.bi-camera-video(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z')
                          span Video Call
                    // .tyn-list-links
                  // .dropdown-menu
                // li
              // .tyn-media-option-list
            // .tyn-media-group
          // li
        // .tyn-media-list
      // .modal-body
      button.btn.btn-md.btn-icon.btn-pill.btn-white.shadow.position-absolute.top-0.end-0.mt-n3.me-n3(data-bs-dismiss='modal')
        // x-lg
        svg.bi.bi-x-lg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
          path(d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z')
    // .modal-content
  // .modal-dialog
// .modal
#deleteChat.modal.fade(tabindex='-1')
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content.border-0
      .modal-body
        .py-4.px-4.text-center
          h3 Delete chat
          p.small Once you delete your copy of this conversation, it cannot be undone.
          ul.tyn-list-inline.gap.gap-3.pt-1.justify-content-center
            li
              button.btn.btn-danger(data-bs-dismiss='modal') Delete
            li
              button.btn.btn-light(data-bs-dismiss='modal') No
      // .modal-body
      button.btn.btn-md.btn-icon.btn-pill.btn-white.shadow.position-absolute.top-0.end-0.mt-n3.me-n3(data-bs-dismiss='modal')
        // x-lg
        svg.bi.bi-x-lg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
          path(d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z')
    // .modal-content
  // .modal-dialog
// .modal
block modals
script(data-user=JSON.stringify(user)).
  window.user = JSON.parse(document.currentScript.getAttribute('data-user'));
script(src='/assets/js/bundle.js?v131')
script(src='/assets/js/app.js?v131')
script(src="/socket.io/socket.io.js")
script(src="/assets/js/socket.js") 
block script