include ../mixins/alert.pug

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='/images/favicon.ico')
  title #{pageTitle}
  link(rel='stylesheet' href='/assets/css/bundle.css?v131')
  link(rel='stylesheet' href='/assets/css/app.css?v131')
  link(rel="stylesheet", href="/assets/css/custom.css")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  link(rel="stylesheet" type="text/css" href="https://unpkg.com/file-upload-with-preview/dist/style.css")
.tyn-root
  +alert-success(5000)
  +alert-error(5000)
  include ../partials/navbar.pug
  
  block main


#callingScreen.modal.fade(tabindex='-1' data-bs-backdrop='static' data-bs-keyboard='false')
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content.border-0
      .tyn-chat-call
        .tyn-chat-cover
          img(src='/images/cover/1.jpg' alt='')
        .tyn-media-group.tyn-media-vr.tyn-media-center.mt-n4.pb-4
          .tyn-media.tyn-size-xl.tyn-circle.border.border-2.border-white
            img(src='/images/avatar/1.jpg' alt='')
          .tyn-media-col
            .tyn-media-row.has-dot-sap
              span.meta Calling ...
            .tyn-media-row
              h6.name Konstantin Frank
        // .tyn-media-group
        ul.tyn-list-inline.gap.gap-3.m-auto.py-4
          li
            button.btn.btn-light(data-bs-dismiss='modal' data-bs-toggle='modal' data-bs-target='#videoCallingScreen')
              span Switch To
              // camera-video-fill
              svg.bi.bi-camera-video-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z')
        // .tyn-list-inline
        ul.tyn-list-inline.gap.gap-3.mx-auto.py-4
          li
            button.btn.btn-icon.btn-pill.btn-light
              // person-plus-fill
              svg.bi.bi-person-plus-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(d='M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6')
                path(fill-rule='evenodd' d='M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5')
          li
            button.btn.btn-icon.btn-pill.btn-light
              // mic-mute-fill
              svg.bi.bi-mic-mute-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(d='M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4 4 0 0 0 12 8V7a.5.5 0 0 1 1 0zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a5 5 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4m3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3')
                path(d='M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607m-7.84-9.253 12 12 .708-.708-12-12z')
          li
            button.btn.btn-icon.btn-pill.btn-danger(data-bs-dismiss='modal')
              // telephone-x-fill
              svg.bi.bi-telephone-x-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                path(fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm9.261 1.135a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708')
        // .tyn-list-inline
      // .tyn-chat-call
    // .modal-content
  // .modal-dialog
// .modal
#videoCallingScreen.modal.fade(tabindex='-1' data-bs-backdrop='static' data-bs-keyboard='false')
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content.border-0
      .tyn-chat-call.tyn-chat-call-video
        .tyn-chat-call-stack
          .tyn-chat-call-cover
            img(src='/images/v-cover/1.jpg' alt='')
        // .tyn-chat-call-stack
        .tyn-chat-call-stack.on-dark
          .tyn-media-group.p-4
            .tyn-media-col.align-self-start.pt-3
              .tyn-media-row.has-dot-sap
                span.meta Talking With ...
              .tyn-media-row
                h6.name Konstantin Frank
              .tyn-media-row.has-dot-sap
                span.content 02:09 min
            .tyn-media.tyn-media-1x1_3.tyn-size-3xl.border.border-2.border-dark
              img(src='/images/v-cover/2.jpg' alt='')
          // .tyn-media-group
          ul.tyn-list-inline.gap.gap-3.mx-auto.py-4.justify-content-center.mt-auto
            li
              button.btn.btn-icon.btn-pill.btn-light
                // person-plus-fill
                svg.bi.bi-person-plus-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6')
                  path(fill-rule='evenodd' d='M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5')
            li
              button.btn.btn-icon.btn-pill.btn-light(data-bs-toggle='modal' data-bs-target='#callingScreen')
                // camera-video-fill
                svg.bi.bi-camera-video-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(fill-rule='evenodd' d='M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z')
            li
              button.btn.btn-icon.btn-pill.btn-light
                // mic-mute-fill
                svg.bi.bi-mic-mute-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(d='M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4 4 0 0 0 12 8V7a.5.5 0 0 1 1 0zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a5 5 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4m3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3')
                  path(d='M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607m-7.84-9.253 12 12 .708-.708-12-12z')
            li
              button.btn.btn-icon.btn-pill.btn-danger(data-bs-dismiss='modal')
                // telephone-x-fill
                svg.bi.bi-telephone-x-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                  path(fill-rule='evenodd' d='M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zm9.261 1.135a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708')
          // .tyn-list-inline
        // .tyn-chat-call-stack
      // .tyn-chat-call
    // .modal-content
  // .modal-dialog
// .modal
#muteOptions.modal.fade(tabindex='-1')
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content.border-0
      .modal-body.p-4
        h4.pb-2 Mute conversation
        ul.tyn-media-list.gap.gap-2
          li
            .form-check
              input#muteFor15min.form-check-input(type='radio' name='muteFor')
              label.form-check-label(for='muteFor15min')  For 15 minutes 
          li
            .form-check
              input#muteFor1Hour.form-check-input(type='radio' name='muteFor' checked='')
              label.form-check-label(for='muteFor1Hour')  For 1 Hours 
          li
            .form-check
              input#muteFor1Days.form-check-input(type='radio' name='muteFor' checked='')
              label.form-check-label(for='muteFor1Days')  For 1 Days 
          li
            .form-check
              input#muteForInfinity.form-check-input(type='radio' name='muteFor' checked='')
              label.form-check-label(for='muteForInfinity')  Until I turn back On 
        // .tyn-media-list
        ul.tyn-list-inline.gap.gap-3.pt-3
          li
            button.btn.btn-md.btn-danger.js-chat-mute Mute
          li
            button.btn.btn-md.btn-light(data-bs-dismiss='modal') Close
        // .tyn-list-inline
      // .modal-body
      button.btn.btn-md.btn-icon.btn-pill.btn-white.shadow.position-absolute.top-0.end-0.mt-n3.me-n3(data-bs-dismiss='modal')
        // x-lg
        svg.bi.bi-x-lg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
          path(d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z')
    // .modal-content
  // .modal-dialog
// .modal
block modals
script(src="/socket.io/socket.io.js")
script(src="/assets/js/socket.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js")
script(src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js")
script(data-user=JSON.stringify(user)).
  window.user = JSON.parse(document.currentScript.getAttribute('data-user'));
script(src='/assets/js/bundle.js?v131')
script(src='/assets/js/app.js?v131')
script(src="/assets/js/contacts.js")
block script