include ../mixins/alert.pug

doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='/images/favicon.ico')
  title #{pageTitle}
  link(rel='stylesheet' href='/assets/css/bundle.css?v131')
  link(rel='stylesheet' href='/assets/css/app.css?v131')
  link(rel="stylesheet", href="/assets/css/custom.css")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  link(rel="stylesheet" type="text/css" href="https://unpkg.com/file-upload-with-preview/dist/style.css")
.tyn-root
  +alert-success(5000)
  +alert-error(5000)
  include ../partials/navbar.pug
  
  block main


block modals
script(src="/socket.io/socket.io.js")
script(src="/assets/js/socket.js") 
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js")
script(src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js")
script(type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")
script(data-user=JSON.stringify(user)).
  window.user = JSON.parse(document.currentScript.getAttribute('data-user'));
script(src='/assets/js/bundle.js?v131')
script(src='/assets/js/app.js?v131')
script(src="/assets/js/contacts.js")
block script